[submodule "vendor/dhall-mode"]
	path = vendor/dhall-mode
	url = https://github.com/psibi/dhall-mode
[submodule "vendor/psc-ide-emacs"]
	path = vendor/psc-ide-emacs
	url = https://github.com/justinwoo/psc-ide-emacs
[submodule "vendor/new-purescript-mode"]
	path = vendor/new-purescript-mode
	url = https://github.com/justinwoo/new-purescript-mode
